{% extends 'base.html' %}

{% block content %}
  <h3>Profil rolnika: {{rolnik.Imie}} {{rolnik.Nazwisko}} (twoj profil)</h3>
  <dl class="dl-horizontal">
    <dt>Id:</dt>
    <dd>{{ rolnik.id }}</dd>
    <dt>Imie i Nazwisko:</dt>
    <dd>
      {{rolnik.Imie}} {{rolnik.Nazwisko}} <button type="button" class="btn btn-primary btn-xs">Edytuj</button>
    </dd>
    <dt>Adres:</dt>
    <dd>
      {{rolnik.Adres}} <button type="button" class="btn btn-primary btn-xs">Edytuj</button>
    </dd>
    <dt>Mail:</dt>
    <dd>
      {{rolnik.user.email}} <button type="button" class="btn btn-primary btn-xs">Edytuj</button>
    </dd>
  </dl>
{% endblock %}
