{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block content %}
  <h3>Twój profil: {{rolnik.Imie}} {{rolnik.Nazwisko}}</h3>
  <hr>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading0">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="false" aria-controls="collapse0">
                      Dodawanie produktów: <small>Kliknij by zwinąć/rozwinąć</small>
                </a>
              </h4>
            </div>
            <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
              <div class="panel-body">
                  <form class="form-horizontal" method="POST">
                    {% csrf_token %}
                  <ul class="list-unstyled scrollable">
                    {% render_field produkty_form.non_field_errors %}
                    {% for field in produkty_form.produkty %}
                      <li><small>{{field}}</small></li>
                    {% endfor %}
                  </ul>
                    <input type="submit" value="Wyślij" class="btn btn-primary" />
              </div>
            </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading1">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
              Edycja danych: <small>Kliknij by zwinąć/rozwinąć</small>
            </a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
          <div class="panel-body">
            <form class="form-horizontal" method="POST">
              {% csrf_token %}
              {% render_field rolnik_form.non_field_errors %}
              {% for field in rolnik_form %}
              <div id="{{field.name}}Form" class="form-group has-feedback">
                  <div class="col-sm-9">
                      {% if field.errors %}
                      <div class="input-group has-error">
                          <span class="input-group-addon">{{field.errors.as_text}}</span>
                      {% else %}
                          <div class="input-group">
                      {% endif %}
                            <span class="input-group-addon">{{field.label}}:</span>
                            {% render_field field class="form-control" %}
                          </div>
                      </div>
                  </div>
              {% endfor %}
              <input type="submit" value="Wyślij" class="btn btn-primary" />
            </form>
          </div>
        </div>
      </div>
    </div>


{% endblock %}
