{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block content %}
<script type="text/javascript" src="{% static 'gmaps_profil.js' %}"></script>
<h3>Profil rolnika: {{rolnik.Imie}} {{rolnik.Nazwisko}}</h3>
<hr>
<dl class="dl-horizontal">
  <dt>Imię i Nazwisko:</dt>
  <dd>
		{{rolnik.Imie}} {{rolnik.Nazwisko}}
	</dd>
  <dt>Mail:</dt>
  <dd>
    {{rolnik.user.email}}
  </dd>
  <dt>Adres:</dt>
  <dd id="Adres">
    {{rolnik.Adres}}
  </dd>
  <dt>Pozycja na mapie:</dt>
  <dd id="gmap" style="width: 500px; height: 250px"></dd>
	<!--div id="gmap" style="width: 500px; height: 250px"></div-->
	<dt>Produkty:</dt>
	{% if rolnik.produkty.all %}
	{% for produkt in rolnik.produkty.all %}
	<dd>{{produkt}}</dd>
	{% endfor %}
	{% else %}
	<dd>Brak</dd>
	{% endif %}
</dl>
{% endblock %}

