<!DOCTYPE html>
<html lang="en">
    {% include 'head.html' %}

    <body>
        {% include 'menu.html' %}
        <div class="container-fluid">
            {% block content %}
                Loading content.
            {% endblock %}
        </div>

        <section id="footer" class="container content-section text-center">
            {% include 'footer.html' %}
        </section>
    </body>

</html>
<script>
//http://stackoverflow.com/questions/5884644/calculate-the-current-location-longtitude-and-latitude
navigator.geolocation.getCurrentPosition(
  function(pos){
    var lat = pos.coords.latitude;
    var long = pos.coords.longitude;
    // send coordinates to server, or display on map, if you wish
    //buildMarker(map, lat, long, "TEST", 'red');
    //alert("your position is:"+lat+";"+long);
    $('#id_location').val(lat+", "+long);
    $("#id_location").focus();
  },
  function(){
    /* Handler if location could not be found */
  }
);

</script>