<!DOCTYPE html>
<html lang="en">
    {% include 'head.html' %}
    {% load staticfiles %}
    <body>
        {% include 'menu.html' %}
        <div class="container-fluid">
            {% block content %}
                Loading content.
            {% endblock %}
        </div>

        <section id="footer" class="container content-section text-center">
            {% include 'footer.html' %}
        </section>
    </body>

</html>

<script>
    function testFunction() {
        if($("#inputGroupSuccess1").prop('disabled')==false)
        {
            $("#inputGroupSuccess1").prop('disabled', true);
            $("#inputGroupSuccess2").prop('disabled', true);
            $("#inputGroupSuccess3").prop('disabled', true);
            $("#edytujButton").val("Edytuj");
            $("#zapiszZmianyButton").prop('disabled', true);
        } else {
            $("#inputGroupSuccess1").prop('disabled', false);
            $("#inputGroupSuccess2").prop('disabled', false);
            $("#inputGroupSuccess3").prop('disabled', false);
            $("#edytujButton").val("Anuluj");
            $("#zapiszZmianyButton").prop('disabled', false);
        }
    }
</script>