<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Serwis dla rolników">
    <meta name="author" content="SGGW">

    <title>Agros - serwis dla rolników</title>

    <!-- Bootstrap Core CSS -->
    <link href="http://dagondev.ddns.net/static/startbootstrap-grayscale-1.0.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="http://dagondev.ddns.net/static/startbootstrap-grayscale-1.0.1/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="http://dagondev.ddns.net/static/startbootstrap-grayscale-1.0.1/js/jquery.easing.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="http://dagondev.ddns.net/static/startbootstrap-grayscale-1.0.1/js/grayscale.js"></script>

{% load staticfiles %}
<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{% static 'location_field/js/form.js' %}"></script>
    {{form.media}}
</head>