<!-- http://getbootstrap.com/components/#navbar -->
  {% load staticfiles %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'startpage' %}">
        <img alt="Agros logo" src="{% static 'img/logofinalagros.png' %}" width="25" height="25"/>
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- http://stackoverflow.com/questions/18075248/problems-with-the-responsive-navbar-in-bootstrap-3 -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="{% url 'rolnicy-wszyscy' %}">Rolnicy</a>
        </li>
        <li>
          <a href="{% url 'wiadomosci-start' %}">Wiadomości</a>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Znajdź rolnika"/>
          </div>
          <button type="submit" class="btn btn-default">Szukaj</button>
        </form>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            {% if user.is_authenticated %}
              Zalogowany: <b>{{ user }}</b>
            {% else %}
              <b>Profil</b>
            {% endif %}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            {% if user.is_authenticated %}
                  {% csrf_token %}
                  <li><a href="{% url 'rolnicy-mojprofil' %}">Edytuj profil</a></li>
                  {% csrf_token %}
                  <li><a href="{% url 'logout' %}">Wyloguj</a></li>
            {% else %}
                  {% csrf_token %}
                  <li><a href="{% url 'login' %}">Zaloguj się</a></li>
                  {% csrf_token %}
                  <li><a href="{% url 'registration_register' %}">Zarejestruj się</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>
