{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block content %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<form class="form-horizontal" method="POST">
		{% csrf_token %}
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="heading0">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
						Produkty: <small>Kliknij by zwinąć/rozwinąć</small>
					</a>
				</h4>
			</div>
			<div id="produktyDiv">
				<p>Wczytywanie produktów...</p>
				{% include "szukajka_produkty.html" %}
			</div>
			<!-- nie moze byc jako odnosnik do js, bo trzeba by walnac statycznego urla :p-->
			<script>$("#produktyDiv").load("{% url 'szukaj-produkty' %}");</script>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="heading1">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
						Lokalizacja: <small>Kliknij by zwinąć/rozwinąć</small>
					</a>
				</h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
				<div class="panel-body">
					{% render_field szukaj_form.non_field_errors %}
					{% for field in szukaj_form %}
					<div id="{{field.name}}Form" class="form-group has-feedback">
						<div class="col-sm-9">
							{% if field.errors %}
							<div class="input-group has-error">
								<span class="input-group-addon">{{field.errors.as_text}}</span>
								{% else %}
								<div class="input-group">
									{% endif %}
									<span class="input-group-addon">{{field.label}}</span>
									{% render_field field class="form-control" %}
									{% ifequal field.name 'Adres' %}
									<div id="gmap" style="width: 500px; height: 250px"></div>
									{% endifequal %}
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="panel-body">
					<input type="submit" value="Szukaj" class="btn btn-primary" />
				</div>
			</div>
	</form>
	{% if rolnicy %}
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="heading2">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
					Znalezione wyniki: <small>Kliknij by zwinąć/rozwinąć</small>
				</a>
			</h4>
		</div>
		<div id="collapse2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading2">
			<div class="panel-body">
				<table class="table table-striped">
					{% for rolnik in rolnicy %}
					<tr rolnik_url="{% url 'rolnicy-profil' id=rolnik.id %}" rolnik_etykieta="{{ rolnik.Imie }} {{ rolnik.Nazwisko }}<br>{{ rolnik.Adres}}" rolnik_adres="{{rolnik.Adres}}" rolnik_icon="{% static 'img/logofinalagros_mini.png' %}">
						<td><a href="{% url 'rolnicy-profil' id=rolnik.id %}">{{ rolnik.Imie }} {{ rolnik.Nazwisko }}</a></td>
						<td><a href="{% url 'rolnicy-profil' id=rolnik.id %}">{{ rolnik.Adres }}</a></td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>	
	{% endif %}
	{% if not_found %}
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="heading2">
			<h4 class="panel-title">
				{{not_found}}
			</h4>
		</div>
	</div>
	{% endif %}
	</div>
	<script type="text/javascript" src="{% static 'gmaps_szukaj.js' %}"></script>
	{% endblock %}
